body {
  direction: rtl;
  min-height: 100vh;
  background: #ddd6f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #faaca8,
    #ddd6f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #faaca8,
    #ddd6f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  justify-content: center;
  align-items: center;
}
.container {
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

.horizontal {
  width: 100px;
  height: 20px;
  background-color: #cab5a277;
  border-radius: 5px;
}

.vertical {
  width: 20px;
  height: 100px;
  background-color: #cab5a277;
  border-radius: 5px;
}

.square {
  width: 100px;
  height: 100px;
}

.vertical:hover,
.horizontal:hover {
  background-color: rgba(218, 165, 32, 0.486);
}

.filled_bordered {
  border: 1px solid #fff;
}

#blue,
#red {
  border-radius: 50%;
  color: antiquewhite;
  text-align: center;
  padding-top: 8px;
  font-weight: 670;
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 50px;
}

#blue {
  background-color: blue;
}
#red {
  background-color: red;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px #c4a300;
    transform: scale(1);
  }
  40% {
    box-shadow: 0 0 20px #c4a300;
    transform: scale(1.2);
  }
  60% {
    box-shadow: 0 0 20px #c4a300;
    transform: scale(1.2);
  }
  100% {
    box-shadow: 0 0 -10px #c4a300;
    transform: scale(1);
  }
}

.glow {
  animation: glowing 2000ms infinite;
}


aside {
    width: 100%;
    height: 100vh;
    background-color: rgba(17, 12, 12, 0.322);
    color: #fff;
    font-size: 200px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}