@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.main {
  transform: scale(1.65);
  position: absolute;
  top: 30%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#reset,
#start,
#lap {
  font-family: "Pacifico", cursive !important;
  background-color: #d9b8f8;
  margin: 3px;
  border-radius: 15px;
  flex-grow: 1;
}

#start {
  min-width: 37px;
}

.timer {
  font-family: "Major Mono Display", monospace;
  background-color: #eedddd;
  padding: 5px;
  border-radius: 17px;
}

.laps {
  position: absolute;
  margin-top: 53vh;
  height: 43vh;
  width: 305px;
  overflow: auto;
  text-align: center;
}

ol::-webkit-scrollbar {
  width: 0.5em;
}

ol::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(23, 20, 223, 0.301);
  -webkit-box-shadow: inset 0 0 3px rgba(23, 20, 223, 0.301);
}

ol::-webkit-scrollbar-thumb {
background-color: rgba(184, 137, 238, 0.589);
outline: 1px solid rgb(97, 164, 231);
}

#lapNum {
  font-size: 18px;
  font-style: italic;
  color: blue;
}