@import "./font-shabnam.css";

body {
  font-family: "Shabnam", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}

.main {
  margin: 25px 5% !important;
  border: 3px double rgba(65, 19, 19, 0.459);
  border-radius: 4px !important;
}

h1 {
  font-weight: 300;
  text-align: center;
}

.ant-form-item {
  display: flex !important;
  direction: rtl;
}

.ant-form-item-label {
  text-align: left;
}

/* jalali date-picker styles for ant-design */
.datepicker-input {
  width: 100%;
  height: 32px;
  border: 1px solid #3e3e3e40;
  border-radius: 4px;
  text-align: center;
}

.calendarContainer.jalaali {
  transform: scale(0.8) !important;
}

.selectToday {
  margin-top: 0 !important;
}
/* date styles end */


.gender-tag {
  direction: rtl;
  margin-right: 28%;
}


.ant-radio-group {
  direction: rtl !important;
  margin-left: 50%;
  margin-top: -50%;
  margin-bottom: 45px;
}

.ant-btn-primary {
  position: absolute;
  margin: 30px 75% 0 -8%;
}