.mainRow {
    background-color: var(--primary);
}
.mainTitle {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
    font-size: 2rem;
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 900;
}
.boxBorder {
    width: 50px;
    height: 400px;
    border: 1px solid var(--warning);
    /* border-left: none; */
}
.leftPanel,
.rightPanel {
    height: 90vh;
    display: flex;
    align-items: center;
}
.rightPanel {
    transform: rotate(180deg);
}

.education, .experience {
    background-color: var(--primary);
    width: 100%;
    height: 55%;
    margin-right: -2px;
}
