@font-face {
	src: url(../fonts/Righteous-Regular.ttf);
	font-family: 'righteous';
}
body {
	font-family: 'righteous';
	/* height: 625px; */
}
main{
	background: rgba(121, 120, 120, 0.356);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}
main::before{
	width: 100%;
	height: 100%;
	background: url(../img/background-img.jpg);
	background-position: 100%;
	background-size: cover;
	background-repeat: repeat-y;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    content: "";
    opacity: .4;
    z-index: 0;
}
ul li {
	list-style-type: none;
}
ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
.card{
	width: 90%;
    height: 80%;
	/* opacity: 1;
	transition: opacity 1s;  */
}
/* .card.fade{
	opacity: 0;
} */
.test{
	width: 100%;
    height: 100%;
    position: relative;
    background: url(../img/back.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
    transition: all .5s linear;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	border-radius: 9px;
	border: 2px solid rgb(255, 255, 255);
}
.test:after {
    content: '';
    right: 0px;
    bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
	-webkit-transform: rotateY( 180deg );
	transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 9px;
}
.test1::after, .test19::after{
	background: url(../img/card1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.test2::after, .test20::after{
	background: url(../img/card2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.test3::after, .test21::after{
	background: url(../img/card3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.test4::after, .test22::after{
	background: url(../img/card4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.test5::after, .test23::after{
	background: url(../img/card5.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.test6::after, .test24::after{
	background: url(../img/card6.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.test7::after, .test25::after{
	background: url(../img/card7.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.test8::after, .test26::after{
	background: url(../img/card8.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.test9::after, .test27::after{
	background: url(../img/card9.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.test10::after, .test28::after{
	background: url(../img/card10.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.test11::after, .test29::after{
	background: url(../img/card11.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.test12::after, .test30::after{
	background: url(../img/card12.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.test13::after, .test31::after{
	background: url(../img/card13.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.test14::after, .test32::after{
	background: url(../img/card14.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.test15::after, .test33::after{
	background: url(../img/card15.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.test16::after, .test34::after{
	background: url(../img/card16.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.test17::after, .test35::after{
	background: url(../img/card17.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.test18::after, .test36::after{
	background: url(../img/card18.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.card-container{
	width: 75%;
	margin-top: 100px;
	border-radius: 9px;
	z-index: 100;
	border: 5px solid rgb(255, 255, 255);
	background-color: rgb(21, 45, 77)!important;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.582);
	opacity: 0.88;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	padding-top: 70px;
	/* height: 80%; */
}
.cards-column{
	width: 15%;
	height: 290px;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: flex-end
}
.cards-row{
	width: 100%;
	height: 45%;
	display: flex;
    align-items: center;
	justify-content: center;
	margin-bottom: 13px;
}
.timer{
	padding: 5px 20px;
	background-color: lightyellow;
	border-radius: 5px 0 5px 0;
	margin-top: 10px;
	position: absolute;
	top: 2%;
	right: 2%;
	font-size: 1.5rem;
}
.timer label{
	margin-bottom: 0;
}
.flip-count{
	position: absolute;
	top: 2%;
	left: 5%;
	color: white;
	margin-top: 10px;
	font-size: 1.5rem
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: lemonchiffon;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	font-size: 1.5rem
  }
  .victory-img{
	position: absolute;
	top: 30%;
	right: 25%;
  }
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 30px;
	font-weight: bold;
	text-align: right
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  #end {
	  display: none;
  }
/* ********************* Animate.css styles ************************ */
/* .card-img-top{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
} */
/* .card{
	position: absolute;
	top: 0;
	left: 0;
	width: 15rem;
	height: 150px;
	display: none
}
.flip-card{
	position: relative;
	background-color: lightgreen;
	width: 15rem;
	height: 150px;
	/* position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; */
/* }
#card1, #card2, #card3, #card4{
	position: relative;
} */